#!/usr/bin/env bash

# Navigation Shortcuts: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias home="cd ~"       # `cd` is probably faster to type though
alias -- -="cd -"       # jump to previous destination

# File system Shortcuts
alias o='open .'
alias projects="cd ~/Projects"
alias applications='cd ~/Applications'
alias documents='cd ~/Documents'
alias downloads='cd ~/Downloads'
alias pictures='cd ~/Pictures'
alias music='cd ~/Music'
alias movies='cd ~/Movies'
alias desktop='cd ~/Desktop'
alias dropb="cd ~/Documents/Dropbox"

# Directory listing with colors
alias sl=ls
alias ls='ls -G'        # Compact view, show colors
alias la='ls -A'        # Compact view, show hidden
alias ll='ls -alF'
alias l='ls -CF'
alias l1='ls -1'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Get week number
alias week='date +%V'

# Desktop Programs
alias xcode="open -a '/Applications/XCode.app'"
alias safari="open -a safari"
alias chrome="open -a google\ chrome"
alias f='open -a Finder '
alias fh='open -a Finder .'
alias textedit='open -a TextEdit'
alias discord="open -a '/Applications/Discord.app'"
alias opendiff='/Applications/Xcode.app/Contents/Developer/usr/bin/opendiff'

# Utils
alias dsclean='find . -type f -name .DS_Store -print0 | xargs -0 rm'
alias encode-file='iconv -f ISO-8859-1 -t UTF-8'
alias usage='df -h'
alias space='du -sh ./*'
alias tu='top -o cpu'
alias trim="tr -s \" \" | sed 's/^[ ]//g'"
alias total-files='ls -1 | wc -l | trim'

# Reload the shell with new config
alias sb="source ~/.bashrc"
alias sz="source ~/.zshrc"

# Homebrew stuff
alias brewp='brew upgrade --cleanup && brew cask upgrade'
alias bup='brew update && brew upgrade'
alias bout='brew outdated'

# Git suff
alias gti="git"
alias public-key='cat ~/.ssh/id_rsa.pub | pbcopy; echo "public key copied to clipboard"'

# Network stuff
# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias lip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Show active network interfaces
alias ifactive="ifconfig | pcregrep -M -o '^[^\t:]+:([^\n]|\n\t)*status: active'"

# Flush your DNS cache
alias flushdns="dscacheutil -flushcache"

# Usefull stuff for presentation and seeing dotfiles
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"
alias showall='defaults write com.apple.finder AppleShowAllFiles YES && killall Finder'
alias hideall='defaults write com.apple.finder AppleShowAllFiles NO && killall Finder'

# macOS has no `md5sum`, so use `md5` as a fallback
command -v md5sum > /dev/null || alias md5sum="md5"

# macOS has no `sha1sum`, so use `shasum` as a fallback
command -v sha1sum > /dev/null || alias sha1sum="shasum"

# JavaScriptCore REPL
#jscbin="/System/Library/Frameworks/JavaScriptCore.framework/Versions/A/Resources/jsc";
#[ -e "${jscbin}" ] && alias jsc="${jscbin}";
#unset jscbin;

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Merge PDF files
# Usage: `mergepdf -o output.pdf input{1,2,3}.pdf`
alias mergepdf='/System/Library/Automator/Combine\ PDF\ Pages.action/Contents/Resources/join.py'

# Airport CLI alias
alias airport='/System/Library/PrivateFrameworks/Apple80211.framework/Versions/Current/Resources/airport'

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# local logs
alias syslog='tail -n 50 /var/log/system.log'
